.header__section {
  width: 100%;
}

.header__container {
  max-width: 375px;
  margin: 0 auto;

  padding: 16px;
}

/* --------------------------------------- */
/* Tablet */
/* --------------------------------------- */

@media screen and (min-width: 768px) {
  .header__section {
    padding: 1.6rem 1.6rem 0 1.6rem;
  }

  .header__container {
    max-width: 76.8rem;
    padding: 2rem 3.2rem;
  }
}

/* --------------------------------------- */
/* Desktop */
/* --------------------------------------- */

@media screen and (min-width: 90rem) {
  .header__section {
    padding: 2rem 2rem 0 2rem;
  }

  .header__container {
    max-width: 144rem;
    padding: 2rem 6rem;
  }
}
