# Frontend
VITE_API_URL=http://localhost:3000/api
FRONT_PORT=3000

# Backend
BACK_PORT=4000
JWT_SECRET=your_jwt_secret
FRONTEND_URL=http://localhost:3000

# PostgreSQL
POSTGRES_DB=foodies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Prisma / Backend -> PostgreSQL внутри Docker
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/foodies
