# Frontend
VITE_API_URL=http://localhost:4000/api
FRONT_PORT=3000

# Backend
NODE_ENV=dev
BACK_PORT=4000
FRONTEND_URL=http://localhost:3000

# Token Secrets
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d

# Bcrypt
BCRYPT_ROUNDS=12

# PostgreSQL
POSTGRES_DB=foodies
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Prisma / Backend -> PostgreSQL внутри Docker
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/foodies

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=your_api_secret