NODE_ENV=test

DATABASE_URL=postgresql://postgres:password@localhost:5432/foodies_test

ACCESS_TOKEN_SECRET=foodies-test-access-secret
REFRESH_TOKEN_SECRET=foodies-test-refresh-secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d

BCRYPT_ROUNDS=4
