/* ========================
    RESETS
======================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
body,
svg,
img,
ul,
a,
picture,
textarea,
input {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input,
textarea {
  resize: none;
  outline: none;
  border: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
