/* ========================
   🎨 QUICK CUSTOMIZATION
======================== */

:root {
  --color-primary: var(--dark-grey);
  --color-secondary: var(--grey);
  --color-accent: var(--black);

  --color-bg: var(--white);
  --color-text: var(--dark-grey);

  --color-error: var(--red);

  --color-border-transparent: rgb(255, 255, 255, 0.2);
  --color-bg-transparent: rgb(5, 5, 5, 0.5);

  /* ===  COLOR NAMES === */

  --black: #050505;
  --dark-grey: #1a1a1a;
  --grey: #bfbebe;
  --white: #ffffff;

  --red: #ae0000;

  /* === CHANGE FONTS HERE === */

  --font-main: "Mulish", sans-serif;

  /* === CHANGE TRANSITION SPEED HERE === */

  --transition-fast: 100ms ease-in-out;
  --transition-slow: 250ms ease-in-out;
}