.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

.overlay {
  z-index: 1;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1.2rem;
}

.overlayLabelBtn {
  display: inline-flex;
  align-items: center;
  height: 4.4rem;
  padding: 0 1.8rem;
  color: var(--color-bg);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}

.overlayIconBtn {
  display: grid;
  width: 4.4rem;
  height: 4.4rem;
  place-items: center;
  color: var(--color-bg);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.overlayIconBtn svg {
  width: 2rem;
  height: 2rem;
  fill: none;
  stroke: currentcolor;
}
