.home {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 0.8rem;
}

.categoriesSwitcher {
  width: 100%;
}

@media screen and (min-width: 48rem) {
  .home {
    padding: 0 1.6rem;
  }
}

@media screen and (min-width: 90rem) {
  .home {
    padding: 0;
  }
}
